span.orderButtonNav{
    border-radius: 50px;
    color: #fff;
    background: #FF6302;
    
    white-space: nowrap;
    padding: 12px 30px;
    font-size: 21px;
    font-family: 'Patua One', serif;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;

}

span.orderButtonNav:hover{
    transition: all 0.2s ease-in-out;
    background: #01BF71;
    color: #fff;
}



@media screen and (max-width: 820px) {

  span.orderButtonNav{
      visibility: hidden;
  }
}